
.btn-blue {
    background-color: blue;
    color: white;
    border-color: blue;
}
.btn-m{
    padding: 2px 5px;
    margin: 0;
    border-radius: 10px;
}

body{
    background-color: black;
}
header, footer{
    padding: 1rem 0;
}
.container{
    background-image: linear-gradient(to bottom,rgb(139, 139, 248),rgb(209, 209, 245));  
}
header .icone{
    margin-top: 2rem;
}
nav, .btn{
    margin: 1rem 0;
    border-radius: 1rem;
}
@media (min-width: 767.98px) {
    .space-bet-md{
        display: flex;
        justify-content: space-between;
    }
}
@media (max-width: 767.98px) {
    .w80{
        width: 80%;
    }
}
h1{
    text-align: center;
    margin: 1rem 0;
    color : blue;
}
strong{
    color: blue;
    font-size: 1.5em;
}
input[type=submit]{
    background-color: blue;
    color: white;
    margin-top: 0.5rem;
}
.form-group, .nav-link, a{
    color : blue;
}
.border-blue{
    border: 3px solid blue;
    padding: 10px 10px 0 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.white{
    color:white;
    font-size: 1.5em;
    font-weight: bold;
}
